#General
.DS_Store
.idea
#npm
node_modules
#Build
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
#Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/coverage
#SST
.sst
#Playwright
playwright-report